@*@model TestDesarrollo.Models.Posicion*@

@{
    ViewData["Title"] = "AdPosicion";
    Layout = null;
}
<div class="PanelMod text-center mt-5 ">
    <h4><a class=" fa fa-money"></a> Agregar Nueva Posicion</h4>
</div>
<div class="row ">
    <div class="col-lg-12 mx-auto">

        <div class="form-group">

            <form method="post">
                <div class="card mt-1 mx-auto p-2 bg-light">
                    <div class="form-row">
                        <div class="form-group col-md-10">
                            <input type="text" id="Id" class="form-control" hidden="hidden" />
                            <label for="inputUsuarop" class="font-weight-bold">Descripcion</label>
                            <input type="text" id="txtDescripcion" class="form-control" required="required" maxlength="50" />

                            <div class="invalid-feedback">Este campo no puede estar vacio</div>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">

                    <button type="button" id="btnGuardar" class="btn btn-success mb-2">Agregar</button>
                    <button type="button" class="btn btn-danger mb-2" data-dismiss="modal">Cancelar</button>

                </div>
            </form>

        </div>

    </div>
</div>
<script>
    $('#btnGuardar').click(function () {

        AplicarCambios();
    });
    function AplicarCambios()
    {

        var modelo = {
            id: 0,
            Descrpcion: document.getElementById("txtDescripcion").value,

        }

        var test = modelo;
        $.ajax({

            data: test,
            url: '@Url.RouteUrl(new
                     {
                         controller = "Empleado",
                         action = "AdPosicion"
                     })',

            type: 'POST',
            //contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                window.location.href = "../Empleado/index";

            },
            error: function (data) {
             
                window.location.href = "../Empleado/index";
            }
        });

    }
</script>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
